<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
	:root {
	  --color1: #2a2f39;
	  --color2: #333a46;
	  --color3: #9ad0d2;
	  --color4: #0e1013;
	  --color5: #9aaed2;
	}

	body {
		font-family: "DejaVu Mono", monospace;
		background-color: #111;
		border: solid 0.5em;
		border-color: var(--color4);
		position: absolute;
		right: 0%;
		top: 0%;
	   	bottom: 0%;
	   	left: 0%;
		margin: 0;
	}

	.container {
		z-index: 1;
		position: absolute;
		background-color: var(--color2);
		right: 5em;
		top: 2em;
	   	bottom: 2em;
	   	left: 25%;
		border: solid 5px;
		border-color: var(--color4);
	}
	
	.info {
		z-index: 2;
		position: absolute;
		top: 3em;
		left: 3em; 
	}


	.link {
		position: absolute;
		left: 3em;
	    bottom: 3em;
	}

	.typhlo {
		position: absolute;
		right: 0.5em;
	    bottom: 0.5em;
	}

	.title {
		font-size: 5em;
	}


	html {
	       color: #eee;
	       text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
	       letter-spacing: 0.125em;
	       animation-duration: 1s;
	       animation-name: textflicker;
	       animation-iteration-count: infinite;
	       animation-direction: alternate;
	}
	
	@keyframes textflicker {
	  from {
	    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
	  }
	  to {
	    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
	  }
	}


	.mpd {
		position: absolute;
		left: 0.5em;
	    bottom: 0.5em;
	}

	@keyframes display_on {
	        0% {
					opacity: 0;
	        }
	        100% {
					opacity: 1;
	        }
	}
	
	@keyframes display_off {
	        0% {
	                transform: translateX(0);
					opacity: 1;
	        }
	        100% {
	                transform: translateX(100%);
					opacity: 0;
	        }
	}
	
	.display {
	        animation: 3s forwards 0s 1 display_on;
	}
	
	.no_display {                                                                                                                                                                                                                              
	        animation: 3s forwards 0s 1 display_off;
	}
</style>
</head>
<body>

<div class="info">
	<h2 class="subtitle">Mal fait depuis 94 !</h2>
	{% if title %}
	<h1 class="title">{{ title }}</h1>
	{% endif %}
	{% if title2 %}
	<h1 class="title">{{ title2 }}</h1>
	{% endif %}
</div>

<div class="container"> 

<div class="mpd">
<div id="title"></div>
<div id="album"></div>
<div id="artist"></div>
</div>

    <img class="typhlo" src="/static/typhlo.gif">
</div>

<div class="link">
	<p>@HS_157</p>
</div>


</body>
<script>
	let host = "{{ host }}"
	let port = "{{ port }}"
</script>

<script src="static/index.js"></script>
</html>
