<!DOCTYPE html>
<html>
  <head>
    <title>
      Huhu
    </title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script>
	let host = "{{ host }}"
	let port = "{{ port }}"
    </script>
    <script src="static/index.js"></script> 
  </head>
  <body>
    <div class="mpd">
	    <div id="title"></div>
	    <div id="album"></div>
	    <div id="artist"></div>
    </div>
  </body>
</html>

