div {
        padding: 10px;
}

.mpd {
        font-family: "DejaVu Mono", monospace;
        font-size: 2em;
        background: gray;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        bottom: 0;
        left: 0;
        min-width: 30%;
        background: linear-gradient(to right, rgba(0,0,0,0.7), transparent);
        border-left: 5px solid yellow;
        padding-right: 25%;
        transform: translateX(-100%);
}

#title {
        font-weight: bold;
        font-size: 2em;
        border: 5px solid black;
        margin: 10px;
        text-align: center;
        background: rgba(255,255,255,0.5);
}

#album {
        font-style: italic;
        color: white;
}

#artist {
        color: white;
}

@keyframes display_on {
        0% {
                transform: translateX(-100%);
        }
        100% {
                transform: translateX(0);
        }
}

@keyframes display_off {
        0% {
                transform: translateX(0);
        }
        100% {
                transform: translateX(-100%);
        }
}

.display {
        animation: 3s forwards 0s 1 display_on;
}

.no_display {
        animation: 3s forwards 0s 1 display_off;
}
